@yellow: #fffa19;

.margenes(@top: 0px, @bottom: 0px) {
  margin-top: @top;
  margin-bottom: @bottom;
}

.jumbotron {
  padding: 2rem 1rem;
  background-color: @yellow;
  color: black;
  .margenes(50px, 20px);
}

/* No lleva punto */
footer {
  padding: 10px 10px 0px 10px;
  background-color: @yellow;
  .margenes(10px, 0px);
}

.card-hotel {
  flex: 1 150px;
  .margenes(10px, 0px);
}

.btn-reserva {
  width: 100%;
  border-radius: 0px;
}

.breadcrumb {
  background-color: gainsboro;
  padding: 4px;
  .margenes(10px, 15px);
}

.footer-address-icon {
  padding-right: 10px;
}

.tab-content {
  padding-top: 10px;
}
