$yellow: #fffa19;

@mixin margenes($top, $bottom) {
  margin-top: $top;
  margin-bottom: $bottom;
}

.jumbotron {
  padding: 2rem 1rem;
  background-color: $yellow;
  color: black;
  @include margenes(50px, 20px);
}

/* No lleva punto */
footer {
  padding: 10px 10px 0px 10px;
  background-color: $yellow;
  @include margenes(10px, 0px);
}

.card-hotel {
  flex: 1 150px;
  @include margenes(10px, 0px);
}

.btn-reserva {
  width: 100%;
  border-radius: 0px;
}

.breadcrumb {
  background-color: gainsboro;
  padding: 4px;
  @include margenes(10px, 15px);
}

.footer-address-icon {
  padding-right: 10px;
}

.tab-content {
  padding-top: 10px;
}
