.jumbotron {
  padding: 2rem 1rem;
  background-color: #fffa19;
  color: black;
  margin-top: 50px;
  margin-bottom: 20px; }

/* No lleva punto */
footer {
  padding: 10px 10px 0px 10px;
  background-color: #fffa19;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-hotel {
  flex: 1 150px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.breadcrumb {
  background-color: gainsboro;
  padding: 4px;
  margin-top: 10px;
  margin-bottom: 15px; }

.footer-address-icon {
  padding-right: 10px; }

.tab-content {
  padding-top: 10px; }
